<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    <div class="wrap">
        <header>
            <div class="logo-link">
                <a href="/">
                    <img src="/favicon.png" alt="logo">
                    
                </a>
                <span>{{- .Site.Title -}}</span>
            </div>
            {{ partial "nav.html" . }}
        </header>
        <main class="container">
            {{ block "container" . }}
            {{ end }}
        </main>
        <footer>
            {{ block "pagination" . }}
            {{ end }}
            {{ partial "copyright.html" . }}
        </footer>
    </div>
    {{ partial "scripts.html" . }}
</body>
</html>