{{ define "container" }}
<div class="post">
    <article class="post-block">
        <h1 class="post-title">{{ .Title }}</h1>
        <div class="post-info">
            {{- .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") -}}
            {{- with .Params.from -}}
                <a href="{{ . }}" class="post-from", target="_blank">Original Link</a>
            {{- end -}}
            {{- with .Params.categories -}}
              <div class="post-category">
                {{ range . }}
                  <a href="{{ "categories" | relLangURL }}/{{ . | urlize }}/"> {{ . }} </a>
                {{ end }}
              </div>
            {{- end -}}
        </div>
        <div class="post-content">
            {{ .Content }}
        </div>
    </article>
</div>
{{ end }}

{{ define "pagination" }}
<div class="paginator">
    <div class="prev">
        {{ with .PrevInSection }}
        <a href="{{ .URL }}"><span>{{ .Title }}</span></a>
        {{- end}}
    </div>
    <div class="next">
        {{ with .NextInSection }}
        <a href="{{ .URL }}"><span>{{ .Title }}</span></a>
        {{- end}}
    </div>
</div>
{{ end }}